<ion-tabs class="tabs-positive">
  <ion-tab icon="ion-home" ui-sref="home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-help" ui-sref="help">
    <ion-nav-view name="help"></ion-nav-view>
  </ion-tab>
</ion-tabs>
<!--<ion-side-menus>-->
	<!--&lt;!&ndash; top menu &ndash;&gt;-->
  <!--<ion-side-menu side="top" ui-view="topMenu">-->
    <!--Top Menu-->
  <!--</ion-side-menu>-->

  <!--&lt;!&ndash; Left menu &ndash;&gt;-->
  <!--<ion-side-menu side="left" ui-view="leftPanel">-->
    <!--Left Panel-->
  <!--</ion-side-menu>-->

  <!--Main  Menu -->
 <!--  <ion-side-menu-content>
  		<div ui-view="container" class="content-area">Main Content</div>
  </ion-side-menu-content> -->

  <!-- Right menu -->
  <!--<ion-side-menu side="right" ui-view="rightPanel">-->
  		<!--Right Panel Data-->
  <!--</ion-side-menu>-->
</ion-side-menus>

